<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.land.ch.smartnewcountryside">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>

        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".我的.我的余额"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的通知"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的认证"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的评价"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.银行账户"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.支付安全"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的收藏"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的特权"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".全城热恋.全城热恋"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".全城热恋.全网热恋发布"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.图片看病"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的动态"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的订单"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的田币"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的村庄"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.我的图片看病"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".完善名片信息.完善个人信息"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.设置"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".物流叫车.物流叫车"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.收货地址"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的认证.实人认证"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的认证.企业认证"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的认证.农资资质"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的认证.实地认证"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的认证.采购认证"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.全部品类"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.优选乡村"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.农家院"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.直播"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.采摘"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.小视频"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.直营商城"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.土地流转"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.农产品"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.优质基地"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.招聘信息"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.更改位置"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".生意圈.生意圈"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".代养代种.代养代种"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".招聘.发布招聘"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".招聘.发布详情"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.KindsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".萤石监控.监控测试"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".讲农堂.讲农堂详细"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".农产品.西瓜"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".招聘.招聘详情"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".首页.名优特产"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".搜索.搜索"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".我的.个人信息"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".广告位.广告位"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".其它页.专区"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".广告位.广告页详细"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".全国行情.种类详情"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".全国行情.全国行情"
            android:screenOrientation="portrait"/>
        <activity android:name=".农产品.发布货源">
        </activity>
        <activity android:name=".农产品.农产品要货详情">
        </activity>
        <activity android:name=".农产品.继续要货">
        </activity>
        <activity android:name=".我的.经办人">
        </activity>
        <activity android:name=".农产品.要货报价">
        </activity>
        <activity android:name=".其它页.商机推荐">
        </activity>
        <activity android:name=".农产品.发布资源">
        </activity>
        <activity android:name=".农产品.发布供应">
        </activity>
        <activity android:name=".我的特权.婚恋特权">
        </activity>
        <activity android:name=".发采购.发采购">
        </activity>
        <activity android:name=".农产品.发布要货">
        </activity>
        <activity android:name=".讲农堂.高手店铺">
        </activity>
        <activity android:name=".讲农堂.讲农堂高手详情">
        </activity>
        <activity android:name=".我的.添加村庄">
        </activity>
    </application>

</manifest>